<li class="list-group-item">
  <span class="badge">
    <%= t 'follower.n', count: actor.follower_count %>
  </span>
  <nav class="first-line-mini">
    <%= link_to actor.name, actor.subject %>
  </nav>
  <section class="second-line"> 
    <%= actor.description %>
  </section>
</li>

