<li class="list-group-item">
  <span class="badge">
      <%= t 'follower.n', count: actor.follower_count %>
    </span>
  <%= link_to(actor.subject) do %>
    <strong><%= actor.name %></strong>
    <p>
      <%= actor.description %>
    </p>
  <% end %>
</li>