<li class="list-group-item">
       
    <header class="first-line-large">
      <%= link_to object.name, object %>
    </header>

    <div class="second-line">
      <%= t 'time.ago', time: time_ago_in_words(object.updated_at) %>
    </div>

</li>