<li class="list-group-item">
  <%= link_to(object) do %>
    <strong class="name"><%= object.name %></strong>
    <p>
      <%= t 'explore.participants.registered_since', time: l(object.created_at) %>
    </p>
  <% end %>
</li>