<li class="list-group-item">
  <span class="badge">
    0 fans
  </span>
  <nav class="first-line-mini">
    <a href="·">
      nombre
    </a>
    <div class="second-line"> 
      desde el 14 de Febrero de 2011 
    </div>  
  </nav>
</li>

