<li class="list-group-item">
  <%= link_to(object) do %>
    <header><strong class="name"><%= object.name %></strong></header>
    <p>
      <%= t 'time.ago', time: time_ago_in_words(object.updated_at) %>
    </p>
  <% end %>
</li>