<li class="list-group-item">      
  <nav class="first-line-large">
    <%= link_to object.title, object.object %>
  </nav>
  <section class="second-line">
    <%= object.description %>
  </section>
</li>

