<li class="list-group-item">
  <%= link_to(object.object) do %>
    <header><strong><%= object.object.title %></strong></header>
    <p>
      <%= t 'explore.resources.uploaded_since', time: l(object.created_at) %>
    </p>
  <% end %>
</li>