<ul class="list-group most-visited">
  <h4>
    <%= t 'explore.resources.most_visited' %>
  </h4>
  <% ActivityObject.most_viewed.first(5).each do |ao| %>
    <%= render partial: 'explore/resources_most_visited', locals: { object: ao } %>
  <% end %>
</ul>
<ul class="list-group last-uploaded">
  <h4>
    <%= t 'explore.resources.last_uploaded' %>
  </h4>
  <% ActivityObject.last_uploaded.first(5).each do |ao| %>
    <%= render partial: 'explore/resources_last_uploaded', locals: { object: ao } %>
  <% end %>
</ul>
