<li class="list-group-item">
  <span class="badge">
      <%= t 'like.n', count: object.like_count %>
    </span>
  <%= link_to(object.object) do %>
    <strong class="name"><%= object.object.title %></strong>
    <p>
      <%= object.description %>
    </p>
  <% end %>
</li>