@mixin see-more
  clear: both
  width: 100%
  min-height: 30px
  @extend .btn-default
  a
    width: 30%
    margin: 3px 32%
    text-align: center
    position: absolute
    color: $gray
  &:hover
    color: $link-color
    text-decoration: none

  
  &.disabled,
  &[disabled] 
    cursor: default
    @include opacity(65)

  .loading
    z-index: 200
    position: relative
    padding-top: 5px

@mixin btn-add
  font-size: 12px
  .btn-group
    button
      &:hover
        .caret
          border-top-color: $auxiliarColor
          border-bottom-color: $auxiliarColor
      .caret
        border-top-color: $white
        border-bottom-color: $white
        margin-left: 4px
        &:hover
          border-top-color: $auxiliarColor
          border-bottom-color: $auxiliarColor

  .open
    .btn
      .caret
        border-top-color: $white
        border-bottom-color: $white

@mixin options-auth
  margin-top: 3px
  a
    padding-right: 6px
    border-right: 1px solid $gray-light
    &:last-child
      border-right: none
   