<div class="details">
  <%= render :partial => "events/date", :locals => { :event => event } %>

  <div class="frequency">
    <%= event.frequency_description %>
  </div>

  <%= render partial: 'objects/timeline_description',
             object: event,
             as: :obj %>
</div>
