#error_explanation
  h2
    color: $brand-danger
    font-size: 20px
    margin-top: 10px
  ul
    padding: $padding-small-horizontal
    margin-top: $zero
    li
      padding-bottom: 6px
      list-style: initial
      margin-left: 12px
      font-size: 15px