<section class="activities">
  <header>
    <%= t 'activity.title' %>
  </header>
  <%= render :partial => 'activities/new', :locals => { :receiver => owner } %>

  <%= render :partial => 'activities/timeline',
             :locals  => { :section => section } %>
</section>
