@mixin principal-box
  @include border-radius
  @include box-shadow (1px 1px 15px 0px rgba(50, 50, 50, 0.1))
  border: 1px solid 
  border-color: rgba(0,0,0, 0.1)
  background-color: $auxiliarColor
  border-color: rgba(0,0,0, 0.1)

@mixin edit-btn
  &:hover
    .edit
      @include opacity(1)
      margin-left: 5px
  .edit
    @include opacity(0)


@mixin applications-list
  min-height: 67px
  .logo-app,
  .data
    float: left
    display: block
  .btn-group-vertical
    float: right
    width: 108px
    @include hidden-xs
  .name,
  .url
    display: block

@mixin lead
  .lead
    margin-bottom: 10px
  .btn
    float: right


@mixin delete
  &:hover
    border-color: $brand-danger !important
    a
      color: $brand-danger !important
  header
    margin-bottom: $zero
  #destroy_site_client-content,
  #destroy_organization-content
    padding-left: 15px
    a
      color: $brand-danger !important