<section id="typetext">
  <h1>test h1. font-size_variable</h1>
  <h2>test h2. font-size_variable</h2>
  <h3>test h3. font-size_variable</h3>
  <h4>test h4. font-size_variable</h4>
  <h5>test h5. font-size_variable</h5>
  <h6>test h6. font-size_variable</h6>
  <p>Once upon a time being a vegetarian was quite a task and people were poorly catered for – not any more. Vegetarianism is mainstream and like all things mainstream it’s well catered for.
  </p>
  <hr>
  <small>

There are a growing number of businesses who make it their mission to create suitable foods for vegetarians and understandably so there are a number of reasons to go veggie. So, let’s take a look at why to stop eating meat and the options out there. </small>
  <hr>
  <code>Animals and the poor in the world suffer because of the eating of meat. Over 760m tonnes of food is fed to farm animals to fatten them up for consumption. That’s a lot of food that could otherwise be given to the poor of the world on a daily basis and help prevent starvation.</code>
<hr>
<pre>There are numerous environmental concerns with eating meat and the rearing, transport and eating of meat casts a long shadow on the world’s environment. In fact, according to a UN study meat creates more greenhouse emissions than the pollution from all the cars, vans and automobiles on the planet. It’s also causes significant problems with land degradation, climate change and air pollution, as well as a loss of biodiversity.</pre>
<hr>

<div class="upper">Of course, there are plenty of alternatives for people who wish to turn vegetarian. The growth of vegetarianism and veganism as a lifestyle choice has given rise to a range of options.</div>
<hr>
<div class="small-caps">
Often when people think of going veggie, they think of lentils and vegetables. However, there’s so much more to it than that. Meat substitutes have come a long way in the previous few decades, some taste exactly like meat – ideal for those that miss the taste. Quorn and a range of other companies provide excellent substitutes</div>
<hr>
<div class="oldstyle-numerals">
In addition, 6 there are also no worries about missing out on favourite sweet foods 2 they often contain gelatine – or even 59 chocolate. There are plenty of substitutes that allow companies to create sweets, desserts and chocolate without the need for 1983 animal products, while still taste exactly the same and these are wide available.</div>

</section>
