.site_clients
  .name,
  .url,
  .users
    color: $gray

  .name
    font-size: 16px

  .url
    a
      color: $gray
      &:hover
        color: $brand-primary



#new_site_client-modal
  .modal-body
    input
      &[type="file"]
        line-height: 0px

.field_with_errors
  input
    &[type="text"]
      background-clor: red

#new_application
  .btn


#site_client
  margin-top: 48px
  header
    z-index: 100
    margin-bottom: 0
    h1
      z-index: 50
      position: absolute
      margin-top: -47px
    img
      z-index: 100
      margin: -47px 4px 0px 0px

    
