<div class="conversations">
  <div class="list-group">
  	<%= render @conversations %>
  </div>
  <%= render partial: 'layouts/more',
             locals: {
               path: conversations_path,
               per_page: 9,
               total: @conversations.total_count
            } %>
</div>
