<div id="api_key_settings" class="panel panel-default">
    <header class="panel-heading">
        <h5 class="panel-title">
            <%= link_to t('settings.api_key.briefing'), "javascript:void(0);", "data-toggle" => 'collapse', "data-parent" => "#settings-accordion", "data-target" => "#api_key_settings_content" %>
        </h5>
    </header>
    
    <div class="content settings_content collapse" id="api_key_settings_content">
        <div class="settings_block">
            <%=t('settings.api_key.explanation') %>: <span id="api_token"><%= current_subject.authentication_token.blank? ? t('settings.api_key.empty') : current_subject.authentication_token %></span>

            <%= link_to t('settings.api_key.regenerate'), api_keygen_path(:api_settings => true), :class => 'fa fa-refresh', :remote => true  %>
        </div>
    </div>
</div>
