<div class="link">
  <div class="thumb">
    <i class='icon_file_50-link'></i>
  </div>
  <div class="brifing">
    <div class="name">
      <%= link_to truncate(link.title), link.url %>
    </div>
    <div class="url">
      <%= link_to truncate(link.url), link.url %>
    </div>
    <div class="author">
      <%= raw t('link.by', author: link_to(link.author.name, link.author_subject)) %>
    </div>
  </div>
</div>
